body {
    font-family: 'Nunito', sans-serif;
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.headerRowCSS {
    border-bottom-style: double;
    border-width: 1 px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: xx-large;
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#headerContainer {
    padding-left: 0px;
}

#navbarCSS {
    padding: 0;
    color: white;
    font-family: 'Lora', serif;
    border-bottom: double;
}

#siteTitle {
    color: white;
    font-family: 'Lora', serif;
    font-size: xx-large;
    padding-left: 0px;
}

#navButtons {
    color: white;
    font-family: 'Lora'
}

.nav-button {
    color: white;
    /* margin: 40px; */
    padding: 0px 5px;
    border-right: 2px solid;
}

.nav-button-link {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-right {
    /* width: 220px; */
    height: 55px;
    float: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    color: white;
}

.pageTitle {
    font-size: 20px;
    color: white;
}

#tripTasksHeader {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.tripTasks {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    border-radius: 20px;
}

.selectedTripTask {
    color: white;
    background-color: #348F50;
    border: solid;
    border-width: 1px;
}

#itinerary-results {
    color: white;
    border-left-style: double;
}

#itinerary-links {
    border-left-style: double;
}

#drivingDirectionsHeader {
    color: white;
}

.business-items,
.hotel-items {
    color: white;
    margin-bottom: 30px;
    border: 1px;
    border-style: solid;
    padding-top: 10px;
}

.business-info,
.hotel-info {
    margin-top: 0;
    line-height: 2px;
}

#actHeaderText,
#hotelsHeaderText {
    color: white;
    text-decoration: underline;
}

#headerText {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

#submit-item {
    font-weight: bold;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: darkblue;
    border: 2px solid;
    border-radius: 5px;
}

.packing-list-headers {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 8px;
    margin-bottom: 0;
}

#packing-list {
    margin-top: 20px;
}

.packingListElements {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    background: lightblue;
    border: 1px solid;
    border-radius: 5px;
}

.packingButton {
    margin: 4px;
    font-weight: bolder;
}

.drivingLabels {
    font-weight: bolder;
    font-size: 18px;
}

.drivingContent {
    font-weight: bold;
    color: maroon;
}
#aboutUsText {
    color: white;
}

#start {
    color: white;
    border-style: double;
}