.card {
    position: relative;
    top: 100px;
}


.headerRowCSS {
    /* color: aqua; */
    background: green;
}

#headerContainer {
    padding-left: 0px;
}

#navbarCSS {
    padding: 0;
}

#siteTitle {
    color: white;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Gugi', cursive;
    font-size: xx-large;
    padding-left: 0px;
}

#navButtons {
    color: white;
}

.nav-button {
    color: white;
    /* margin: 40px; */
    padding: 0px 5px;
    border-right: 2px solid;
}

/* #nav-button-Home {
    border-right: 2px solid;
} */

.nav-button-link {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-right {
    /* width: 220px; */
    height: 55px;
    float: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Gugi', cursive;
    font-size: 20px;
    color: white;
}

.pageTitle {
    font-family: 'Gugi', cursive;
    font-size: 20px;
    color: black;
    
}

#tripTasksHeader {
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.tripTasks {
    font-size: 20px;
    color: maroon;
    font-weight: bold;
    padding-top: 15px;
    border-radius: 20px;
}

.selectedTripTask {
    background: darkblue;
    color: white;
}